.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-size: 300;
}
.button{
    background-color: yellow;
    border: 1px solid wheat;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}